body{
    background-image: url("bg-intro-desktop.png");
    background-color: rgb(16, 16, 131);
}
nav{
    text-align: center;
    padding: 10px;
}
ul li{
    display: inline;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;;
}
ul a{
    color: white;
    text-decoration: none;
}
.signup{
    background-color: white;
    max-width: 500px;
    text-align: center;
    margin: 90px auto;
    padding-top:5px;
    padding-bottom: 35px;
    height: 50vh;
    border-radius: 9px;
}
input{
    width: 70%;
    height:  40px;
    padding-left: 10px;
}



button{
    width: 73%;
    height: 40px;
    border: 1px solid rgb(16, 16, 131);
    background-color: white;
    font-family: 'Raleway', sans-serif;     
    font-size: 15px ;
    font-weight: bold;
    color: rgb(16, 16, 131);

}
button:hover{
    background-color:rgb(16, 16, 131);
    color: white;
}
h3{
    font-family: 'Raleway', sans-serif; 
    color: rgb(16, 16, 131);
    font-size: 30px;
}